{% extends 'StationMaster/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2 align="center">Assign boats</h2>
        <table border="1" cellpadding="10" align="center">
            <tr>
                <td>Boat</td>
                <td><select name="boat" id="">
                    <option value="select">...select...</option>
                    {% for i in Data %}
                    <option value="{{i.id}}">{{i.boat_name}}</option>
                    {% endfor %}
                  </select>
                </td>
            </tr>
            <tr>
                <td>Service</td>
                <td><select name="selectservice" id="">
                    <option value="{{i.id}}">..select..</option>
                    {% for i in Sdata %}
                    <option value="{{i.id}}">{{i.start_point}}</option>
                    {% endfor %}

                </select></td>
            </tr>
            <tr>
                <td>Start Time</td>
                <td><input type="time" name="txt_starttime" id="" value="{{udata.starttime}}"></td>
            </tr>
            <tr>
                <td>Arrival Time</td>
                <td><input type="time" name="txt_arrivaltime" id="" value="{{udata.arrivaltime}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit">
                     <input type="reset" value="Cancel"></td>
                
            </tr>
        </table>
        <br><br>

        <table border="1" cellpadding="10" align="center">
            <tr>
                <td>SL NO</td>
                <td>Boat</td>
                <td>Service</td>
                <td>Starting Time</td>
                <td>Arrival Time</td>
                <td>Action</td>
            </tr>
            {% for i in Adata %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.boat.boat_name}}</td>
                <td>{{i.service.start_point}}</td>
                <td>{{i.starttime}}</td>
                <td>{{i.arrivaltime}}</td>
                <td><a href="{% url 'WebStationMaster:del_assignboat' i.id %}">delete </a>||
                    <a href="{% url 'WebStationMaster:update_assignboat' i.id %}">Update</a>
                
                
                
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}