{% extends 'StationMaster/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 20px;
        }
        th {
            background-color: #f2f2f2;
        }
        .btn {
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <h2 class="text-center">Services</h2>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <input type="hidden" name="service_id" value="{{ udata.id|default:'' }}">
                    <table class="table">
                        <tr>
                            <td>Start Point</td>
                            <td><input type="text" class="form-control" name="txt_startpoint" value="{{ udata.start_point|default:'' }}"></td>
                        </tr>
                        <tr>
                            <td>End Point</td>
                            <td><input type="text" class="form-control" name="txt_endpoint" value="{{ udata.end_point|default:'' }}"></td>
                        </tr>
                        <tr>
                            <td>Payment</td>
                            <td><input type="text" class="form-control" name="txt_payment" value="{{ udata.payment|default:'' }}"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="submit" class="btn btn-primary" value="Submit">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table class="table">
                        <tr>
                            <th>SL No</th>
                            <th>Start Point</th>
                            <th>End Point</th>
                            <th>Payment</th>
                            <th>Actions</th>
                        </tr>
                        {% for item in Data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.start_point }}</td>
                            <td>{{ item.end_point }}</td>
                            <td>{{ item.payment }}</td>
                            <td>
                                <a href="{% url 'WebStationMaster:del_service' item.id %}" class="btn btn-danger">Delete</a>
                                <a href="{% url 'WebStationMaster:update_service' item.id %}" class="btn btn-primary">Update</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
{% endblock content %}
