{% extends 'StationMaster/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>sl no</td>
                <td>Date</td>
                <td>Passenger Count</td>
                <td>Amount</td>
                <td>Ticket Type</td>
                <td>Customer</td>
                <td>Contact</td>
                <td>Boat</td>
                <td>Action</td>
                
            </tr>
            {% for i in booking  %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.date}}</td>
                <td>{{i.Passenger_count}}</td>
                <td>{{i.book_amount}}</td>
                <td>{{i.ticket_type.ticket_type}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_contact}}</td>
                <td>
                    {% if i.assign == NULL %}
                    <span style="color: red;">N/A</span>
                    {% else %}
                    {{i.assign.boat.boat_name}}
                    {% endif %}
                </td>
                <td>
                    {% if i.status == 0 %}
                    <span style="color: red;">Not Payed</span>
                    {% elif i.status == 1 %}
                    <span style="color: green;">Payed</span> | <a href="{% url 'WebStationMaster:userboat_assign' i.id %}">Assign Boat</a>
                    {% elif i.status == 2 %}
                    <span style="color: green;">Assigned</span>
                    {% elif i.status == 3 %}
                    <span style="color: red;">Canceled</span> | <a href="{% url 'WebStationMaster:refund' i.id %}">Re Fund</a>
                    {% elif i.status == 4 %}
                    <span style="color: red;">Re Funded</span>
                    {% else %}
                    Error
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'WebStationMaster:viewticketbooking' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}  