{% extends 'User/Header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles here */
        body {
            padding: 20px;
        }
        /* Optional: Additional custom styles */
        .table td, .table th {
            vertical-align: middle;
        }
        h1 {
            font-family: "Times New Roman", Times, serif;
            margin: 20px;
        }

    </style>
</head>
<body>
    <h1 align="center">My Bookings</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sl No</th>
                        <th scope="col">Date</th>
                        <th scope="col">Passenger</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Boat</th>
                        <th scope="col">Service</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">Arrival Time</th>
                        <th scope="col">Ticket Type</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in ticket %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.Passenger_count }}</td>
                        <td>{{ i.book_amount }}</td>
                        {% if i.assign == NULL %}
                        <td style="color: red;">N/A</td>
                        <td style="color: red;">N/A</td>
                        <td style="color: red;">N/A</td>
                        <td style="color: red;">N/A</td>
                        {% else %}
                        <td>{{ i.assign.boat.boat_name }}</td>
                        <td>{{ i.assign.service.start_point }}-{{ i.assign.service.end_point }}</td>
                        <td>{{ i.assign.starttime }}</td>
                        <td>{{ i.assign.arrivaltime }}</td>
                        {% endif %}
                        <td>{{ i.ticket_type.ticket_type }}</td>
                        <td>
                            {% if i.status == 0 %}
                            <a href="{% url 'webuser:paymentticket' i.id %}" class="btn btn-primary">Payment</a>
                            {% elif i.status == 1 %}
                            <span style="color: green;">Paid</span> | <a href="" class="btn btn-secondary">Cancel Request</a>
                            {% elif i.status == 2 %}
                            <span style="color: green;">Assigned</span> | <a href="{% url 'webuser:cancelbooking' i.id %}" class="btn btn-secondary">Cancel Request</a>
                            {% elif i.status == 3 %}
                            <span style="color: red;">Canceled</span>
                            {% elif i.status == 4 %}
                            <span style="color: red;">Refunded</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>
{% endblock content %}
