
{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id="" value="{{udata.boat_name}}"></td>
            </tr>
            <tr>
                <td>Passenger Capacity</td>
                <td><input type="number" name="txt_capacity" id="" value="{{udata.boat_capacity}}"></td>
            </tr>
            <tr>
                <td>Date Of Entry</td>
                <td><input type="date" name="txt_entrydate" id="" value="{{udata.boat_entrydate}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit">
                <input type="submit" value="Cancel"></td>
    
            </tr>
        </table>
         
       <table border="1" align="center" cellpadding="10">
        <tr>
            <td>SL No</td>
            <td>Name</td>
            <td>Capacity</td>
            <td>Date of Entry</td>
            <td>Action</td>
        </tr>
        {% for i in Data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.boat_name}}</td>
            <td>{{i.boat_capacity}}</td>
            <td>{{i.boat_entrydate}}</td>
            <td><a href="{% url 'webadmin:del_boat' i.id %}">Delete</a>||
                <a href="{% url 'webadmin:update_boat' i.id %}">Update</a> </td>
        </tr>
        {% endfor %}
       </table>
    </form>
</body>
</html>
{% endblock content %}