{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2 align="center">Event Type</h2>
        <table border="1"  align="center" cellpadding="10">
            <tr>
                <td>Event Type</td>
                <td><input type="text" name="txt_eventtype" id="" value="{{udata.event_type}}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit">
                 <input type="reset" value="Cancel"></td>
                
            </tr>
           
        </table>
        <br><br><br>
        <table border="1" align="center" cellpadding="">
            <tr>
                <td>Sl No</td>
                <td>Event Type</td>
                <td>Action</td>
            </tr>
            {% for i in Data%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.event_type}}</td>
                <td><a href="{% url 'webadmin:del_eventtype' i.id %}">Delete</a> ||
                    <a href="{% url 'webadmin:update_eventtype' i.id %}">Update</a></td>
            </tr>
            {%  endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}