{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <style>
        /* Add your custom CSS styles here */
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="district">District name</label>
                        <select class="form-select" name="dropdown" id="district">
                            <option value="">select</option>
                            {% for i in Ddata %}
                            <option value="{{i.id}}">{{i.district_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="place">Place name</label>
                        <input type="text" class="form-control" name="place" id="place" value="{{udata.place_name}}">
                    </div>
                    <button type="submit" class="btn btn-primary">ADD</button>
                </div>
            </div>
        </form>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Slno</th>
                    <th>District</th>
                    <th>Place name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in place %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.district.district_name}}</td>
                    <td>{{i.place_name}}</td>
                    <td>
                        <a href="{% url 'webadmin:del_place' i.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'webadmin:update_place' i.id %}" class="btn btn-primary">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS Bundle (Bootstrap JS and Popper.js) -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
{% endblock content %}
